/*RESET CODE*/
html, body, div, span, applet, object, iframe, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



/*BODY & MAIN PAGE*/
body {
    font-family: sans-serif;
    background: url("../images/bg_wrapper.png") repeat-x;
    /*background-image: url("../images/bg_body.jpg");*/

}
#mainpage {
  margin-left: 5%;
  width:100%;
  /*background-image: url("images/bg_body.jpg");*/
}



/* NAV STUFF*/
nav {
  /*background-color: black;*/
    /*background-image: url("../images/bg_wrapper/png");*/
}
.navlinks{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 5%;
  font-size: 125%;
  /*** Need to space letters & change the colour*/
  vertical-align: center;
  color: #eee;
}
.navlinks a {
  padding-right: 20px;
  text-decoration: none;
  color: #eee;
  background-image: url("../images/bg_wrapper.png");
  z-index: -1;
}
.navlinks a:hover, a:active{
  background-image: url("../bg_nav_rollover.png");
  /*color: blue;*/
}
/*unvisted & visited links*/
a:link, a:visited{
  text-decoration: none;
}
/*active link*/
a:active, a:hover{
  /*padding: 10px;*/
  /*text-decoration: none;*/
  /*do something here with an overlay image*/
}



/*TOP LOGO STUFF*/
#logocontainer {
  width: 90%;
  display: inline-block;
  vertical-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
#logo1{
  text-align: left;
}
/*This is not aligning right*/
#logo2{
  float: right;
  margin: 10px;
}

#banner{}
#banner img{
  display: block;
  width: 90%;
}


/*For the main text & request a quote button*/
/*need to align this width with the image width above*/
/*** Can't get any background images working*/
#container1{
  background-image: url("../images/bg_blurb.jpg");
  /*background-repeat: repeat-x;*/
  /*background-attachment: fixed;*/
  width: 85%;
  display: block;
  padding: 20px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  /*box-shadow: -1px -1px #eee;*/
}
#blurb{
  width: 60%;
  float: left;
}
#blurb_button{
  vertical-align: center;
  text-align: right;
}

/*3 HOME BOXES*/
#home-boxes {
  width: 90%;
}
.home-box {
    display:inline-block;
    font-size: 75%;
    width: 30%;
    height: 200px;
    margin-right:20px;
    padding: 2px;
}
.home-box a{
  color: blue;
}
.outline{
  padding: 2px;
  border: 2px solid gray;
}

/*FOOTER STUFF*/
/*not yet looked at links, underlines or layout*/
footer {
  padding-left: 5%;
    background: black;
    color: gray;
    float: bottom;
}
.box-footer {
    display:inline-block;
    vertical-align: top;
    color: #gray;
    font-size: 75%;
    width: 30%;
    height: 200px;
    margin-right:20px;
    padding: 2px;
    line-height: 2;
}
.box-footer a{color: gray;}
.box-footer li, .box-footer p{
  border-top: 1px solid gray;
}
.box-footer li:last-child{
  border-bottom: 1px solid gray;
}

/*HARRY SUGGESTIONS*/
/*.box-footer .blogroll .box-footer .textwidget #copyright #companybottom */
/*#wrapper #container {} */
/*#main-content #social-media*/
/*.photobanner .imageshadow*/
/* #home-boxes {}*/
